.aboutcontainer {
  text-align: justify;
}

.title {
  font-family: Afacad Flux;
  font-weight: 700;
  /* font-style: italic; */
  /* padding-left: 1em; */
  font-size: 1.5em;
  padding-top: 2em;
  border-bottom: 0.5px solid rgb(37, 37, 37);
}

.text {
  display: flex;
  flex-direction: column;
  padding: 0.2em;
}

.pOne {
  width: 500px;
}

.pTwo {
  width: 500px;
  align-self: flex-end;
}
