.iconGrid {
  margin-top: 9em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);  /* 4 columns */
  gap: 20px;  /* Space between items */
  padding: 20px;
}

.iconItem {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(76, 76, 76);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.iconItem:hover {
  transform: scale(1.1);  /* Zoom in on hover */
}
